.nav-link {
    margin-right: 30px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.card {
    margin-bottom: 20px;
}

.card img {
    height: 427px;
}